
.cta {
  background-image: url('/assets/cta-bg.png');
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins';
  font-style: normal;
  padding-top: 48px;
  height: 400px;
}

.cta__header {
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  max-width: 80%;
}

.cta__header-2 {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  max-width: 80%;
}

.cta__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}

.cta__form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cta__input {
  background: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(54, 54, 54, 0.4);
  border-radius: 1.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 80vw;
  max-width: 720px;
  height: 3rem;
  display: block;
}

.cta__button {
  color: white;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  width: 120px;
  height: 3rem;
  margin-top: 16px;
  background: #FF7D00;
  border-radius: 1.5rem;
}

@media (min-width: 375px) {
  /* .populars-men__header {
    padding: 32px 24px 0;
  } */
}

@media (min-width: 425px) {

}

@media (min-width: 768px) {
  .cta {
    padding-top: 96px;
  }
  .cta__header {
    font-size: 42px;
    max-width: 100%;
  }
  .cta__header-2 {
    font-size: 1.5rem;
    max-width: 100%;
  }
  .cta__form {
    /* display: inline; */
    position: relative;
  }
  .cta__input {
    padding-left: 1.5rem;
    padding-right: 14rem;
    font-size: 1.5rem;
    height: 3.5rem;
  }
  .cta__form-content {
    display: inline;
    position: relative;
  }
  .cta__button {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 13rem;
    height: 3.5rem;
  }
}

@media (min-width: 1024px) {

}
